@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@800&family=Titan+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@800&display=swap");

/* Common style */

* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FB99BF;
}

/* Home */

.section-title {
    font-family: 'Lexend', sans-serif;
    font-size: 29px;
	position: relative;
	margin-bottom: 30px;
	font-weight: 500;
    text-align: center;
}

.certificate-slider-container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.certificate-slider {
    display: flex;
    max-width: 100%;
}

.certificate-card {
    width: 320px;
    height: 320px;
    margin: 20px;
    flex: 0 0 auto;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #F9F0DF;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.certificate-card:hover {
    transform: scale(1.05);
}

.certificate-img {
    width: 100%;
    height: auto;
    margin: 10px;
    border: 2px solid #000;
    max-height: 200px; 
    border-radius: 10px;
    align-self: center;
}

.certificate-img-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.certificate-details {
    align-items: center;
    text-align: center;
    padding: 15px;
}

.certificate-title {
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.certificate-description {
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Modal Styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-container {
    width: 85%; 
    max-width: 700px; 
    height: 80vh;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.modal-content { 
    height: 100%;
    overflow-y: auto;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    background-color: #F9F0DF;
    text-align: center;
    border-radius: 15px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    cursor: pointer;
    font-size: 24px;
}

.modal-details {
    text-align: center;
}

.modal-title {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}

.modal-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid black;
}

.modal-description {
    font-family: 'Lexend', sans-serif; 
    font-size: 16px;
    color: #666;
}

#button-link {
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#button-image {
    width: 140px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#button-link:hover #button-image {
    transform: scale(1.1);
}

.home-img {
    width: 1000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0;
    background-color: #F9F0DF;
    border-top: 2px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}

.logo-heading {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
}

.navbar-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
}

.nav-links li {
    margin-right: 20px;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links .button-text {
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 0 black;
    background-color: #e85c3b;
}

.nav-links .button-text:hover {
    transform: translateY(3px);
    box-shadow: 0 0 0 black;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.footer-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.acc a i {
    font-size: 24px;
    color: white;
    margin-right: 10px;
    margin-bottom: 20px;
}

.footer {
    background-color: #25B418;
    padding: 6px;
    text-align: center;
}

.grand-finale {
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: white;
}

.skills-section {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

.skill {
    width: 160px;
    height: 160px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.skill-title {
    text-align: center; 
    margin-top: 10px;
}

.outer {
    height: 160px;
    width: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 
    inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), 
    -0.5px -0.5px 0px rgba(255, 255, 255, 1), 
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 600;
    color: #555;
    font-size: 30px;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 157.5;
    }
}

svg {
    position: absolute;
    top: 0;
    left: 0;;
}

.education-section {
    width: 100%;
	height: auto;
	display: grid;
	place-items: center;
    border-radius: 20px;
	padding: 20px 0;
}

.education-section .section-title {
    font-size: 29px;
    font-family: 'Lexend', sans-serif;
	color: black;
	position: relative;
    margin-top: 0;
	margin-bottom: 80px;
	font-weight: 500;
}

.skills-section .section-title {
    font-size: 29px;
    font-family: 'Lexend', sans-serif;
	color: black;
	position: relative;
	margin-bottom: 30px;
	font-weight: 500;
}

.skill-title {
    margin-bottom: 20px;
    font-family: 'Lexend', sans-serif;
}

.edu-container {
    width: 70%;
	height: auto;
	margin: auto 0;
	position: relative;
}

.edu-container ul {
    list-style: none;
}

.edu-container ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-image: linear-gradient(to bottom, #FDD23B, #F9F0DF);
    border: 1px solid black;
}

.edu-container ul li {
    width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: #F9F0DF;
	border-radius: 15px;
    border: 1px solid black;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
	position: relative;
	margin-bottom: 30px;
	z-index: 99;
}

.edu-container ul li:nth-child(4) {
    margin-bottom: 0;
}

.edu-container ul li .edu-circle{
    position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #FDD23B;
    border: 1px solid black;
	top: 0;
	display: grid;
	place-items: center;
}

.edu-circle::after{
	content: ' ';
	width: 12px;
	height: 12px;
	background-color: #e85c3b;
	border-radius: 50%;
}

.edu-container ul li:nth-child(odd) .edu-circle {
    transform: translate(50%, -50%);
	right: -30px;
}

.edu-container ul li:nth-child(even) .edu-circle {
    transform: translate(-50%, -50%);
	left: -30px;
}

.edu-container ul li .edu-date {
    position: absolute;
	width: 170px;
	height: 33px;
    background-color: #e85c3b;
	border-radius: 15px;
    border: 1px solid black;
	top: -45px;
	display: grid;
	place-items: center;
	color: black;
	font-size: 13px;
    font-family: 'Lexend', sans-serif;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}

.edu-container ul li:nth-child(odd) {
    float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}

.edu-container ul li:nth-child(odd) .edu-date {
    right: 20px;
}

.edu-container ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
}

.edu-container ul li p{
    font-size: 13px;
	color: #666;
    font-family: 'Lexend', sans-serif;
	line-height: 18px;
	margin: 6px 0 4px 0;
}

.contact-form {
    position: relative;
    min-height: 50vh;
    z-index: 0;
    padding: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-evenly;
}

.contact-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F9F0DF;
    border-radius: 15px;
    margin: 40px;
    overflow: hidden;
    border: 2px solid black;
}

.contact-content {
    flex-basis: 50%;
    padding: 3em;
    box-shadow: 2px 9px -17px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.contact-img {
    flex-basis: 50%;
    padding: 40px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: grid;
}

.contact-img img {
    max-width: 80%;
}

.contact-form input,
.contact-form textarea {
    outline: 2px solid #000;
    margin-top: 5px;
    font-size: 16px;
    color: #666;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: #FB99BF;
    border-radius: 15px;
    transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background: transparent;
    border: 1px solid #FB99BF;
}

.btn-contact {
    font-size: 18px;
    color: #F9F0DF;
    width: 100%;
    background: #FB99BF;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border-radius: 35px;
    cursor: pointer;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-card {
    width: 300px;
    margin: 20px;
    border: 2px solid #000;
    border-radius: 15px;
    overflow: hidden;
    background-color: #F9F0DF;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.portfolio-card:hover {
    transform: scale(1.05);
}

.portfolio-img {
    max-width: 100%;
    max-height: 210px;
    padding: 15px;
    display: block; 
    margin: 0 auto;
}

.portfolio-details {
    padding: 15px;
    text-align: center;
}

.portfolio-img-container {
    height: 200px;
    overflow: hidden; 
    display: flex;
    margin-top: 10px;
    justify-content: center; 
    align-items: center; 
}

.project-title {
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.project-description {
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    color: #666;
}

.portfolio-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.portfolio-modal-content {
    width: 80%; 
    max-width: 700px; 
    height: 80vh; 
    overflow-y: auto; 
    margin: auto; 
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    background-color: #F9F0DF;
    text-align: center;
    border-radius: 15px;
}

.portfolio-modal-image-container {
    max-width: 100%;
    max-height: 400px; 
    overflow: hidden;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid black;
}

.portfolio-modal-img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.portfolio-modal-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #F9F0DF;
    z-index: 3;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
}

.portfolio-modal-title {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
}

.close-portfolio-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    cursor: pointer;
    font-size: 24px;
}

.portfolio-card-description {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}